@font-face {
    font-family: Rubik;
    src: url('/fonts/Rubik-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: Rubik;
    src: url('/fonts/Rubik-Medium.ttf');
    font-weight: 500;
}
@font-face {
    font-family: Rubik;
    src: url('/fonts/Rubik-Bold.ttf');
    font-weight: 700;
}
@font-face {
    font-family: Rubik;
    src: url('/fonts/Rubik-Italic.ttf');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: Rubik;
    src: url('/fonts/Rubik-MediumItalic.ttf');
    font-weight: 500;
    font-style: italic;
}
body {
    font-family: 'Rubik' !important;
}

.content {
    padding-top: 4em;
}

.top-nav {
    position: fixed;
    width: 100%;
    background: white;
    height: 3.5em;
    padding-right: 15px;
    padding-left: 15px;
    z-index: 1;
}

.footer {
    position:fixed;
    width: 100%;
    background: white;
    bottom:0;
    padding: 10px;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Rubik', 'Helvetica Neue' !important;
}

/* TEXT FONT */
.rubik-regular {
    font-family: 'Rubik' !important;
    font-weight: 400 !important;
}

.rubik-medium {
    font-family: 'Rubik' !important;
    font-weight: 500 !important;
}

.rubik-bold {
    font-family: 'Rubik' !important;
    font-weight: 700 !important;
}

/* TEXT SIZE */
.font-small { font-size: 14px; }
.font-smaller { font-size: 12px; }
.font-giant {
    font-size: 5em;
    line-height: 1;
}
.font-size-2x { font-size: 2em; }


/* TEXT COLORS */
.text-branding { color: #40b647 !important; }
.text-grey { color: #939598 !important; }
.text-subtext { color: #bcbec0 !important; }


